html {
    font-family: Verdana, Geneva, sans-serif;
}

h1 {
    font-family: 'Roboto Slab', serif;
}

h2 {
    font-family: 'Gotu', sans-serif;
}

p {
    color: #666666;
}

nav {
    margin: 10px;
    padding: 10px;
}

section {
    margin: 10px;
    padding: 10px;
}

body * {
    background-color: #f2f2f2f2;
    border-radius: 3px;
}

body>header {
    background-color: lightgray;
    border-top: 0.5px solid green;
    border-radius: 0;
    margin: 10px;
    padding: 10px;
}

body>footer {
    background-color: lightgray;
    border-top: 0.5px solid green;
    border-radius: 0;
    text-align: center;
    margin: 25px 10px;
    padding: 10px;
}

input:not([type="checkbox"]) {
    width: 50%;
    padding: 10px 20px 10px 20px;
    margin: 8px 0px 8px 0px;
    border-radius: 4px;
    border: 0.5px solid #ccc
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

input[type="submit"] {
    background-color: green;
    color: wheat;
}

input[type="submit"]:hover {
    background-color: lightgreen;
    color: sienna;
}

input[type="submit"]:focus {
    outline: 0;
}

input[type="submit"]:active {
    background-color: greenyellow;
    color: sienna;
}

input[type="submit"]:disabled {
    background-color: gray;
    color: darkgray;
}